@{
    Layout = null;
    ViewData["Title"] = "Recuperação de senha";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/phosphor-icons"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap" rel="stylesheet">
    <script>
        tailwind.config = {
            theme: {
                fontFamily: {
                    'display': ['Roboto Slab', 'ui-serif']
                }
            }
        }
    </script>
    <title>@ViewData["Title"] - GoBarber</title>
</head>
<body class="bg-zinc-800/80 bg-blend-hard-light bg-[url('/assets/barber.png')] bg-no-repeat bg-cover bg-[top_right_-40rem] w-screen h-screen">
    <div class="w-2/5 h-full gap-20 flex items-center justify-center flex-col bg-zinc-800">
        <header>
            <img src="/assets/logo.png" alt="Go Barber">
        </header>
        <main class="flex flex-col gap-6 w-full items-center">
            <i class="ph-check-circle text-white text-8xl"></i>

            <strong class="font-display font-medium text-white text-2xl">
                Email enviado com sucesso
            </strong>
        </main>
    </div>
</body>
</html>

