@{
    Layout = null;
    ViewData["Title"] = "Recuperação de senha";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/phosphor-icons"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap" rel="stylesheet">
    <script>
        tailwind.config = {
            theme: {
                fontFamily: {
                    'display': ['Roboto Slab', 'ui-serif']
                }
            }
        }
    </script>
    <title>@ViewData["Title"] - GoBarber</title>
</head>
<body class="bg-zinc-800/80 bg-blend-hard-light bg-[url('/assets/barber.png')] bg-no-repeat bg-cover bg-[top_right_-40rem] w-screen h-screen">
    <div class="w-2/5 h-full gap-20 flex items-center justify-center flex-col bg-zinc-800">
        <header>
            <img src="/assets/logo.png" alt="Go Barber">
        </header>
        <main class="flex flex-col gap-6 w-full items-center">
            <strong class="font-display font-medium text-white text-2xl">
                Recuperação de senha
            </strong>

            <form class="text-white font-display text-left flex gap-4 flex-col w-full items-center" asp-controller="Home" asp-action="EmailSentSuccessfully">
                <label for="email">
                    Digite seu email
                    <div class="relative w-full mt-4">
                        <i class="ph-envelope text-2xl text-zinc-600 absolute left-4 top-[30%]"></i>
                        <input class="bg-zinc-900 pl-12 pr-4 w-[20rem] text-white placeholder-zinc-600 h-14 rounded-md" placeholder="johndoe@example.com" type="email" name="email" id="email">
                    </div>
                </label>

                <input class="text-zinc-800 bg-orange-500 w-[20rem] h-14 rounded-md font-display font-medium text-md hover:bg-orange-400 transition duration-300 cursor-pointer" type="submit" value="Enviar">
            </form>
            <p class="text-md text-center text-white w-[20rem]">
                Enviaremos um email com um link para criar uma nova senha
            </p>
        </main>
        <footer>
            <a class="text-white text-xl flex items-center gap-4 mr-4" asp-controller="Home" asp-action="Index">
                <i class="ph-arrow-left text-2xl"></i>
                Voltar para login
            </a>
        </footer>
    </div>
</body>
</html>

